
  

extends layout

block content
  container
    div.row
      div.col-xs-3.pull-right
        input.pull-right(placeholder= "Email: Join our list!")
      div.col-xs-3.pull-right
        div.pull-right LOGIN
        div SHOPPING BAG
        img(src="http://livegoodinc.com/images/icon_bag.gif")
      
    br 
  div.row
    img(src="http://livegoodinc.com/assets/lglogo-d63a7197cc854147123451f355066fc8.png" style="margin-bottom: 0").col-xs-offset-3
    div.text-center
      ul.list-inline
        li(style="margin-bottom: 15px").col-xs-offset-2 Products
        li Our Mission
        li Sustainability
        li Dye Process
        li Olympic Gold Standard
        li Press
        
    .col-xs-2
      ul(style="list-style-type: none")
        li OUR MISSION
        li ORGANIC SUPIMA
        li OUR DYE PROCESS
        li SUSTAINABILITY
        li PRESS
      
    div#carousel-wrapper
      .col-xs-9
        #myCarousel.carousel-slide(data-ride="carousel", data-interval="3000")
          ol.carousel-indicators
            li(data-target="myCarousel", data-slide-to="0")
            li(data-target="myCarousel", data-slide-to="1").active
            li(data-target="myCarousel", data-slide-to="2")
            li(data-target="myCarousel", data-slide-to="3")
            li(data-target="myCarousel", data-slide-to="4")
        .carousel-inner
          .item
            img(src="http://livegoodinc.com/assets/m0-9b1cfb9b1d29506233191e199b595773.jpg")
          div(class="item active")
            img(src="http://livegoodinc.com/assets/m2-196c71c6e9772d4e3a4aad8e782da86e.jpg")
          .item
            img(src="http://livegoodinc.com/assets/m1-85aeba13103d439957cec75397b131da.jpg")
          .item
            img(src="http://livegoodinc.com/assets/m3-6a8280a5563c3062fcfba66106210274.jpg")
          .item
            img(src="http://livegoodinc.com/assets/m4-a1c15acf60fe552ddc8cba726a385acc.jpg")
  br
  br
  br
  .container
    .row.dilemma-wrapper
      .col-xs-3.col-xs-offset-1
        div.brown
          h4.dilemma#dilemmaheader LIVE GOOD WAS CREATED IN RESPONSE TO A DILEMMA:

          h4.dilemma How can you take great care of yourself while acting responsibly toward the environment?
      .col-xs-5.col-xs-offset-3
        p.info We all want to live a good life — one in which we contribute something positive to the world. But we also yearn for "the good life," a state in which our own mental and physical health is in balance.How can you achieve both goals, caring for your community and environment while respecting your own needs for personal fulfillment? 
        p.info We founded Live Good to forge a path toward that dual achievement. We believe you don't need to compromise. You can live sustainably, supporting the long-term health of your neighbors and the planet, and also live well, in elegance and comfort. We want to help you find that state of harmony with nature, with your community, and with yourself. So we've started a business that reflects this ethos: a Live Good line of home products that upholds each and every aspect of our mission. 
        p.info Everything we make is local. Everything is sustainably sourced and organic. And everything is designed to increase your quality of life. We haven't sacrificed luxury and beauty in our commitment to supporting practices that are ecologically and economically sound. We've begun with Sheeting & Duvets, Decorative Pillows, and our Baby Collection, all made of organic cotton and produced in Orange County, California. 
        img.promise(src="http://livegoodinc.com/assets/inner_img.jpg" align="right")
        p.info We searched for materials of the highest quality, grown and manufactured according to the strictest environmental standards. All our products are free of pesticides, synthetic fertilizers, and irradiation. The result is a pure, natural fabric that is as healthy for you as it is for the soil, air, and water, and the agricultural community that supports its production. 
        p.info We also insisted on local producers who have committed to keeping jobs in the United States. Everything that goes into our products – from the fabric to the thread to the natural wood buttons – is Made in the U.S.A. This not only ensures compliance with environmental and ethical standards, but it also means that we're supporting local families and the employers who have chosen to stay on U.S. soil. 
        p.info We hope you will look through our collection, but we also want to hear from you on the larger issues that drive our mission. Through our blog and our Facebook page, we're exploring topics of sustainability and environmental responsibility. Please join us online and get involved in this ongoing conversation. 
        p.info Our Live Good products are the tangible expression of our values. We hope to offer something you can be proud to bring home, adding a layer of comfort and elegance to your space while supporting organic agriculture and local production. There's much more to come – this is just the beginning – so please stay connected with us as we continue to develop ways to help you Live Good.
